* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro","Open Sans",Roboto,"San Francisco",Helvetica,Arial,sans-serif;
  color: #333;
}
.VehicleList {
  width: 100%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.vehicleApp {
  h3,p {
    margin: 0;
  }
  .vehicleCard {
    min-height: 330px;
  }
  .vehicle__image img {
    width: 100%;
  } 
  .vehicleDetails {
    text-align: center;
    color: #545353;
  } 
  .vehicleDetails__name, .vehicleMobileDetails__name {
    color: #000000;
    margin: 22px auto;
    padding: 2px;
    border: 2px solid #333;
    border-left: 0;
    border-right: 0;
    width: 135px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .6px;
    font-size: 16px;
  } 
  .vehicleDetails__price, .vehicleDetails__desc, .vehicleMobileDetails__price, .vehicleMobileDetails__desc {
    color: #777676;
    font-size: 14px;
  }
  .vehicleDetails__price {
    margin-bottom: 8px;
    letter-spacing: .8px;
  }
  .vehicleDetails__desc {
    line-height: 18px;
    letter-spacing: 0.8px;
    width: 300px;
    margin: 0 auto;
    min-height: 75px;
  }

  // mobile-view
  .vehicleMobileDetails.clearfix {
    border-bottom: 1px solid #eaeaea;
  }
  .vehicleMobileDetails__col {
    float: left;
  }
  .vehicleMobileDetails__col.left {
    width: 33%;
  }
  .vehicleMobileDetails__col.right {
    width: 67%;
    padding-left: 22px;
  }
  .vehicleMobileDetails__img img {
    width: 100%;
  }
  .vehicleMobileDetails__name {
    margin: 22px 0 5px;
    font-weight: 800;
    border: 0;
    border-left: 0;
    border-right: 0;
    width: 180px;
    font-size: 16px;
    letter-spacing: 2px;
  }
  .vehicleMobileDetails__price {
    letter-spacing: 1px;
  }
  .vehicleMobileDetails__desc {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 18px;
    letter-spacing: 1px;
  }

  // modal-react
  .vehicleDetails__btn {
    width: 300px;
    margin: 0 auto;
    text-align: right;
  }

  }
  .vehicleDetails--readmore-btn {
    border: 0;
    border-radius: 3px;
    padding: 8px 18px;
    color: #000000;
    cursor: pointer;
    background: #8e898912;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .5px;
  }
  .vehicleDetails__btn.moview {
    width: 100%;
  }
  .vehicleDetails--readmore-btn.moview {
    background: transparent;
    font-size: 12px;
    margin: 0;
    padding: 10px 0;
  }

//***************
.modalApp {
  // text-align: center;
  padding-top: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000000d1;
  // opacity: .8;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 600px;
  padding: 2rem;
}
.modal-header h3 {
  text-transform: uppercase;
}
.modal-title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 22px 0 10px;
}
.modal-body p {
  font-size: 13px;
  letter-spacing: 1px;
  color: gray;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.modal-close-button {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #333;
  opacity: 0.8;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  background: transparent;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}
//***************

@media (min-width: 768px) {
  .container {
    width: 742px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
    
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1420px;
    margin: 0 auto;
  }
}

.container .col {
  border-right: 1px solid #dedede85;
  padding-bottom: 15px;
}

@media only screen and (min-width:600px) {
  .container .col {
    float: left;
    width: 50%;
  }
}


/* 2 columns (768px) */

@media only screen and (min-width:768px) {
  .container .col {
    width: 48.8%;
  }
}


/* 4 columns (992px) */

@media only screen and (min-width:992px) {
  .container .col {
    width: 24.9%;
  }
}
